{{#*inline "toolbox"}}
    <nav>
        <button id="btn-editGroup" class="btn btn-flat btn-inrow shadow-none">
            <svg viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor">
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
        </button>
        <button id="btn-deleteGroup" class="btn btn-flat btn-inrow shadow-none">
            <svg viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
        </button>
    </nav>
{{/inline}}

{{#*inline "groupHeader"}}
    <div data-group="{{_id}}" class="row row-group bg-gradient-dark text-white">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="px-2">
                <strong>{{name}}</strong>
                {{#if description}}
                    <div class="small">{{description}}</div>
                {{/if}}
            </div>
            {{>toolbox}}
        </div>
    </div>
{{/inline}}

{{#*inline "item"}}
    <div class="row my-1 px-3 row-item d-flex flex-row justify-content-between align-items-center" data-item="{{_id}}"
        data-group="{{group._id}}">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="selectedItems">
            <div class="ml-3">
                {{name}}
                {{#if description}}
                    <div class="small">{{description}}</div>
                {{/if}}
            </div>
        </div>
        <div class="no-wrap"></div>
    </div>
{{/inline}}

{{#*inline "itemsInGroup"}}
    {{zero "cnt"}}
    {{#each list}}
        {{#if (eq group.name ../groupName) }}
            {{inc "cnt"}}
            {{>item}}
        {{/if}}
    {{/each}}
    {{#if groupName}}
        {{#if (eq (get "cnt") 0)}}
            <tr data-group="{{groupID}}">
                <td colspan=2 class="py-2">
                    <small>Ta grupa nie zawiera żadnych badań.</small>
                </td>
            </tr>
        {{/if}}
    {{/if}}
{{/inline}}

{{!--  --}}

{{#if conf.group-view}}
    {{> itemsInGroup list=lists}}
    {{#if groups}}
        {{#each groups}}
            {{>groupHeader}}
            {{>itemsInGroup list=../lists groupName=name groupID=_id}}
        {{/each}}
    {{else}}
    {{/if}}
{{else}}
    {{#each lists}}
        {{>item}}
    {{/each}}
{{/if}}

{{#unless lists}}
    <tr>
        <td colspan="3">
            <div class="alert alert-info my-0">
                <svg viewBox="0 0 16 16" class="float-left mr-3 bi bi-info-circle" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                    <circle cx="8" cy="4.5" r="1" />
                </svg>
                <div class="">
                    Nie posiadasz jeszcze zdefiniowanych badań.
                </div>
            </div>
        </td>
    </tr>
{{/unless}}