{{#each lists}}
    <div class="result-item">
        <div class="row px-2">
            <div class="col-6 col-sm-4">
                {{!-- {{createdAt}} --}}
                {{formatDate createdAt}} @ {{formatTime createdAt}}
            </div>
            <div class="col-6 col-sm-8">
                {{examination.name}}
            </div>
        </div>
        {{#each values}}
            <div class="row px-2">
                <div class="col-6">
                    {{value.name}}
                </div>
                <div class="col-6 text-right">
                    {{result}}{{value.unit}}
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}